{% extends 'template.html' %}
{% block title %}
    Home Page
{% endblock %}
{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark" style="color:white">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">What do they think?</h1>
            <p class="lead font-weight-normal">Start by entering a game name below</p>
            <form method="POST" class="form-register" style="color:white">
                <br>
                {{ form.hidden_tag() }}
                {{ form.game(class="form-control", placeholder="Enter a game name") }}
                <br>
                {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
                {% if results %}
                    <style>
                      .modal-content {
                        background-color: #212121;
                        justify-content: center;
                      }
                    </style>

                    <!-- Show Results -->
                    <div class="modal fade show" id="Modal-ShowResults"
                         tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                          <div class="modal-header justify-content-center">
                            <h5 class="modal-title" id="ModalLabel">
                              {{ game_name }}
                            </h5>
                          </div>
                          <div class="modal-body d-flex justify-content-center" id="graph-results">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Close
                            </button>
                          </div>
                        </div>
                      </div>
                      <script>
                        $(document).ready(function() {
                            let plotData = {{ results|safe }};
                            Plotly.newPlot('graph-results', plotData.data, plotData.layout, plotData.config);
                            $('#Modal-ShowResults').modal('show');
                        });
                      </script>
                    </div>
                {% endif %}

            </form>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
{% endblock %}